<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedEsent" version="1.9.4" targetFramework="net47" />
  <package id="MIConvexHull" version="1.1.18.1016" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net47" />
  <package id="netDXF" version="2.2.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net47" />
  <package id="Serilog" version="2.8.0" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.2-dev-00788" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.1.0-dev-00806" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net47" />
  <package id="System.Memory" version="4.5.1" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net47" />
  <package id="Xbim.Common" version="5.0.213" targetFramework="net47" />
  <package id="Xbim.Essentials" version="5.0.213" targetFramework="net47" />
  <package id="Xbim.Ifc" version="5.0.213" targetFramework="net47" />
  <package id="Xbim.Ifc2x3" version="5.0.213" targetFramework="net47" />
  <package id="Xbim.Ifc4" version="5.0.213" targetFramework="net47" />
  <package id="Xbim.IO.Esent" version="5.0.213" targetFramework="net47" />
  <package id="Xbim.IO.MemoryModel" version="5.0.213" targetFramework="net47" />
  <package id="Xbim.Tessellator" version="5.0.213" targetFramework="net47" />
</packages>